nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.nav-logo {
  font-family: 'Bungee', cursive;
  font-size: 36px;
  padding-top: 15px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}