.new-tweet {
  display:flex;
  flex-direction: column;
  background-color:#f4f1ec;
  font-family: sans-serif;
  margin: 30px;
}

#submit-tweet {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  line-height: 0.65;
  border-bottom: 3px solid black;
  margin-bottom: 1px;
}

#tweet-button {
  color: #ffffff;
  font-family: 'Bungee';
  background-color: #4056A1;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin-top: 5px;
}

